@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-second;
  }
}
.menuLinks{
  padding: .75rem;
  font-size: 1.5rem;
}
.menuLinks:hover{
  color: #F8E559;
  background-color: #3B3486;
}
.activelink{
  color: #F8E559;
  background-color: #3B3486;
}
